<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<link href="/theme/css/styles.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/theme/js/scripts.js"></script>
<style>
@media all and (min-width: 960px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu { margin-top:0; }
}
.card-title {font-size: 14px; font-weight: bold;}
.card-text {font-size: 12px; margin-top: 5px;}
.card-text1 {font-size: 13px; font-weight: bold; text-decoration: line-through;}
.card-text2 {font-size: 13px; font-weight: bold; color: #f15b24;}
</style>